[submodule "ArtiFact"]
	path = ArtiFact
	url = https://github.com/Alx-a-cod/ArtiFact.git
[submodule "An-Egg-"]
	path = An-Egg-
	url = https://github.com/Alx-a-cod/An-Egg-.git
[submodule "TasteTest"]
	path = TasteTest
	url = https://github.com/Alx-a-cod/TasteTest.git
[submodule "CodingVault"]
	path = CodingVault
	url = https://github.com/Alx-a-cod/Cod-undrums_Vault.git
[submodule "Csharp_Algoritms"]
	path = Csharp_Algoritms
	url = https://github.com/Alx-a-cod/Csharp_Algoritms.git
