USE [TasteTest_Clienti]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 24/07/2025 11:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clienti] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NomeEmail] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DettaglioOrdini]    Script Date: 24/07/2025 11:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DettaglioOrdini](
	[IDDettaglio] [int] IDENTITY(1,1) NOT NULL,
	[IDOrdine] [int] NOT NULL,
	[IDProdotto] [int] NOT NULL,
	[Quantita] [int] NOT NULL,
	[Totale] [money] NOT NULL,
 CONSTRAINT [PK_DettaglioOrdini] PRIMARY KEY CLUSTERED 
(
	[IDDettaglio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 24/07/2025 11:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[IDOrdine] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Totale] [money] NOT NULL,
	[DataOrdini] [datetime] NULL,
 CONSTRAINT [PK_Ordini] PRIMARY KEY CLUSTERED 
(
	[IDOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotti]    Script Date: 24/07/2025 11:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotti](
	[IDProdotto] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](max) NOT NULL,
	[PrezzoUnitario] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Prodotti] PRIMARY KEY CLUSTERED 
(
	[IDProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DettaglioOrdini] ADD  DEFAULT ((0)) FOR [Totale]
GO
ALTER TABLE [dbo].[Ordini] ADD  DEFAULT (getdate()) FOR [DataOrdini]
GO
ALTER TABLE [dbo].[DettaglioOrdini]  WITH CHECK ADD  CONSTRAINT [FK_OrdersOrder] FOREIGN KEY([IDOrdine])
REFERENCES [dbo].[Ordini] ([IDOrdine])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DettaglioOrdini] CHECK CONSTRAINT [FK_OrdersOrder]
GO
ALTER TABLE [dbo].[DettaglioOrdini]  WITH CHECK ADD  CONSTRAINT [FK_ProductsOrder] FOREIGN KEY([IDProdotto])
REFERENCES [dbo].[Prodotti] ([IDProdotto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DettaglioOrdini] CHECK CONSTRAINT [FK_ProductsOrder]
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD  CONSTRAINT [FK_ClientOrder] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clienti] ([IDCliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ordini] CHECK CONSTRAINT [FK_ClientOrder]
GO
